html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, #F09819, #faa329);
    font-size: 1.5rem;
}

main {
    color: #fff6d5;
    font-family: sans-serif;
}

h1 {
    display: block;
    text-align: center;
}

.app {
    margin-top: 4em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 800px;
    height: 600px;
}